<footer>
    <div class="icon">
   <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="text-link">
     <a href="">Security</a>
     <a href="">About Us</a>
    </div>
    <div class="text">
        <p>Thank For Visit</p>
    </div>
</footer>